@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.menu {
    @include flex-col($gap: 0);
    background-color: $Primary-Light;
    width: 40%;
    height: 100vh;
    &__header {
        padding: $spacing-24 $spacing-24 $spacing-16 $spacing-24;
    }
    &__year-list {
        @include flex-col($gap: 0);
        width: 100%;
    }
    &__year-item {
        @include flex-col($gap: 0);
        width: 100%;
        padding: $spacing-12 $spacing-24;
        border-top: 2px solid rgba($Secondary-Med1, 0.5);
    }
    &__month-list {
        @include flex-row($gap: $spacing-4);
        flex-wrap: wrap;
    }
    &__month-item {
        width: 20%;
        text-align: center;
        &:hover {
            font-weight: 700;
            cursor: pointer;
        }
    }
}

.dropdown {
    &__container {
        @include flex-row($gap: 0);
        justify-content: space-between;
        width: 100%;
        &:hover {
            cursor: pointer;
        }
    }
    &__indicator {
        width: 1.5rem;
    }
}
