// Typography
@import url("https://fonts.googleapis.com/css2?family=Hubballi&display=swap");

$ff-body: "Hubballi";

$fw-reg: 400;
$fw-semibold: 600;
$fw-black: 700;

// Spacings
$spacing-4: 0.25rem;
$spacing-8: 0.5rem;
$spacing-10: 0.625rem;
$spacing-12: 0.75rem;
$spacing-16: 1rem;
$spacing-24: 1.5rem;
$spacing-32: 2rem;
$spacing-36: 2.25rem;
$spacing-40: 2.5rem;
$spacing-48: 3rem;
$spacing-64: 4rem;

// Colours
$Primary-Dark: rgb(50, 50, 50);
$Primary-Med: rgb(230, 187, 138);
$Primary-Light: rgb(253, 249, 216);
$Secondary-Dark: rgb(40, 54, 23);
$Secondary-Med1: rgb(221, 146, 81);
$Secondary-Med2: rgb(150, 169, 88);
