@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.about {
    &__section {
        padding: 0 $spacing-24 $spacing-24;
        @include flex-col($gap: 0);
        @include desktop {
            width: 80vw;
            margin: auto;
        }
    }
    &__header {
        padding: $spacing-24 $spacing-24 $spacing-16 $spacing-24;
        border-bottom: 2px solid rgba($Secondary-Med1, 0.5);
    }
    &__intro {
        padding: $spacing-16 0;
    }
    &__idea-section {
        @include flex-col($gap: $spacing-16);
    }
    &__img-wrapper {
        @include flex-row($gap: $spacing-24);
        justify-content: center;
    }
    &__img {
        width: 18.75rem;
        border-radius: 20px;
    }
    &__idea-details--last {
        margin: auto;
    }
}

.text-bold {
    font-weight: 700;
}
