@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.form {
    &__section {
        @include flex-col($gap: 0);
        align-items: center;
        width: 60%;
    }
    &__section-header {
        padding: $spacing-24 $spacing-24 $spacing-16 $spacing-24;
        border-bottom: 2px solid rgba($Secondary-Med1, 0.5);
        width: 100%;
        text-align: center;
    }
    &__form {
        @include flex-col($gap: $spacing-16);
        width: 100%;
        max-width: 50vw;
        padding: 1.5rem;
    }
    &__input {
        border-bottom: 1px solid rgba($Primary-Dark, 0.5);
    }
    &__textarea {
        min-height: 6.25rem;
        border-radius: 4px;
        outline: 1px solid rgba($Primary-Dark, 0.5);
        &:focus-visible {
            border: none;
            outline: 2px solid rgba($Secondary-Med1, 0.5);
        }
        &::placeholder {
            padding: $spacing-4;
        }
    }
    &__field-container {
        @include flex-row($gap: $spacing-4);
        &--details {
            @include flex-col($gap: $spacing-4);
        }
    }
    &__save-btn {
        width: 9.375rem;
        align-self: flex-end;
        height: 2.5rem;
        border-radius: 4px;
        border: none;
        background-color: rgba($Secondary-Med1, 0.5);
        &:hover {
            color: $Secondary-Med2;
            cursor: pointer;
        }
        &:active {
            border: 1px solid rgba($Secondary-Dark, 0.5);
        }
    }
}

input {
    border: none;
}
