@use "../../styles/partials/variables" as *;
@use "../../styles/partials/mixins" as *;

.header {
    @include flex-row($gap: 0);
    justify-content: space-between;
    &__container {
        @include flex-row($gap: 0);
        justify-content: space-between;
        width: 100%;
        padding: $spacing-24;
        background-color: $Primary-Med;
        @include desktop {
            width: 80vw;
            margin: auto;
        }
    }
    &__title-link {
        color: inherit;
    }
    // &__title {
    //     color: $Secondary-Dark;
    // }
    &__log-out-btn {
        width: 9.375rem;
        height: 2.5rem;
        border-radius: 4px;
        border: none;
        background-color: $Primary-Light;
        &:hover {
            color: $Secondary-Med2;
            cursor: pointer;
        }
        &:active {
            border: 1px solid rgba($Secondary-Dark, 0.5);
        }
    }
}
